# .github/workflows/tagpr.yml
name: tagpr and release
on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      tag:
        description: "release tag"
        required: false
        type: string

permissions:
  pull-requests: write
  packages: write
  contents: write
  actions: write

jobs:
  tagpr:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: true
          ref: ${{ inputs.tag || github.ref }}
      - id: tagpr
        uses: Songmu/tagpr@78a926ba835e34721053309043aee696ba9c70b1 # v1
        if: ${{ github.event_name != 'workflow_dispatch' }} # skip on workflow_dispatch
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: "1.25.3"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          ref: ${{ fromJSON(steps.tagpr.outputs.pull_request).head.ref }}
          fetch-depth: 0
        if: ${{ steps.tagpr.outputs.tag == '' && github.event_name != 'workflow_dispatch' }}
      - uses: mashiike/action-gocredits@d2bc7fc94c93a27761800f03408ca00c3e9b3e85 # v0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

        if: ${{ steps.tagpr.outputs.tag == '' && github.event_name != 'workflow_dispatch' }}
      - name: Run Go Releaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        if: ${{ steps.tagpr.outputs.tag != '' || github.event_name == 'workflow_dispatch' }}
        with:
          version: latest
          args: release
      - name: Extract major version
        if: ${{ steps.tagpr.outputs.tag != '' || github.event_name == 'workflow_dispatch' }}
        id: extract_version
        run: echo "major_version=$(echo ${{ steps.tagpr.outputs.tag }} | cut -d '.' -f 1)" >> "$GITHUB_OUTPUT"
      - name: Delete old tag
        if: ${{ steps.tagpr.outputs.tag != '' || github.event_name == 'workflow_dispatch' }}
        run: |
          git tag -d ${{ steps.extract_version.outputs.major_version }}
          git push origin :refs/tags/${{ steps.extract_version.outputs.major_version }}
        continue-on-error: true
      - name: Tag commit
        if: ${{ steps.tagpr.outputs.tag != '' || github.event_name == 'workflow_dispatch' }}
        run: |
          git tag ${{ steps.extract_version.outputs.major_version }}
          git push origin ${{ steps.extract_version.outputs.major_version }}
