name: Test
on:
  push:
    branches:
      - master
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    services:
      dynamodb:
        image: amazon/dynamodb-local:2.5.2
        ports:
          - 8000:8000
        env:
          AWS_ACCESS_KEY_ID: dummy0000dummy
          AWS_SECRET_ACCESS_KEY: dummy0000dummy
    env:
      TZ: Asia/Tokyo
      AWS_ACCESS_KEY_ID: dummy0000dummy
      AWS_SECRET_ACCESS_KEY: dummy0000dummy
      AWS_DEFAULT_REGION: ap-northeast-1
    strategy:
      matrix:
        go:
          - "1.25"
    steps:
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Build & Test
        run: |
          go test -race ./... -timeout 30s
